.homeContainer{
    padding: 20px 35px;
    border: 5px dotted green;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
    height: 100%;
    color: white;
}

.workoutImg{
    border: 1px red solid;
    height: 180px;
    width: auto;
    
}

p{
    font-size: 18px;
    margin-bottom: 40px
}

.cta{
    display: inline-block;
    background-color: #f9820a;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    transition: transform .1s ease-in-out;
}

.cta:hover{
    transform: translate(1px, 1px);
    color: #161616
}